{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {ibrowse, {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}},
  {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
  {iso8601, {git, "https://github.com/knutin/erlang_iso8601.git", {branch, "master"}}},
  {mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v0.7.9"}}},
  {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
  {ranch, {git, "https://github.com/extend/ranch.git", {tag, "1.1.0"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}},
  {cowboy_session, {git, "https://github.com/Dasudian/cowboy_session.git", {branch, "master"}}}
]}.

{relx, [{release, {'erlymon', "0.1.0"},
         [
	  erlymon
          ,sasl
	  ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
