{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {'erlymon', "0.1.0"},
         [
	  erlymon
          ,sasl
          ,em_logger
	  ,em_storage
	  ,em_hardware
	  ,em_geocoder
	  ,em_http
	  ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
