{minimum_otp_vsn, "17.0"}.
{erl_opts, [debug_info, bin_opt_info, warn_missing_spec, {parse_transform, lager_transform}]}.
{deps, [
  {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.6.3"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
  {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
  {mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v2.1.0"}}},
  {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
  {ranch, {git, "https://github.com/extend/ranch.git", {tag, "1.2.1"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
  {cowboy_session, {git, "https://github.com/pese-git/cowboy_session.git", {branch, "master"}}},
  {tempo, {git, "git://github.com/pese-git/tempo.git", {branch, "master"}}},
  {syn, {git, "git://github.com/ostinelli/syn.git", {tag, "1.6.0"}}},
  {emodel, {git, "https://github.com/egobrain/emodel.git", {branch, "master"}}}
]}.

{relx, [{release, {'erlymon', "3.4"},
  [
    erlymon,
    sasl
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
