%%    Erlymon - this is an open source GPS tracking system for various GPS tracking devices.
%%
%%    Copyright (C) 2015, Sergey Penkovsky <sergey.penkovsky@gmail.com>.
%%
%%    This program is free software: you can redistribute it and/or  modify
%%    it under the terms of the GNU Affero General Public License, version 3,
%%    as published by the Free Software Foundation.
%%
%%    This program is distributed in the hope that it will be useful,
%%    but WITHOUT ANY WARRANTY; without even the implied warranty of
%%    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%%    GNU Affero General Public License for more details.
%%
%%    You should have received a copy of the GNU Affero General Public License
%%    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[
  {'erlymon', [
    {'em_storage', [
      {type, mongodb},
      {settings, [
        "localhost:27017",
        [],
        [{database, "erlymondb"}, {w_mode, safe}]
      ]}
    ]},
    {'em_geocoder', [
      {type, nominatim},
      {settings, []}
    ]},
    {'em_hardware', [
      {gps103, [{port, 5001}], []},
      {tk103, [{port, 5002}], []},
      {gl100, [{port, 5003}], []},
      {gl200, [{port, 5004}], []},
      {t55, [{port, 5005}], []},
      {xexun, [{port, 5006}], []},
      {meitrack, [{port, 5020}], []},
      {wialon, [{port, 5039}], []},
      {osmand, [{port, 5055}], []}
    ]},
    {'em_http', [
      {port, 8082},
      {debug, false},
      {timeout, 10000}
    ]}
  ]},
  {'lager', [
    {log_root, "/var/log/erlymon"},
    {colored, true},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "info.log"}, {level, info}]}
    ]}
  ]}
].

