%%    Erlymon - this is an open source GPS tracking system for various GPS tracking devices.
%%
%%    Copyright (C) 2015, Sergey Penkovsky <sergey.penkovsky@gmail.com>.
%%
%%    This program is free software: you can redistribute it and/or  modify
%%    it under the terms of the GNU Affero General Public License, version 3,
%%    as published by the Free Software Foundation.
%%
%%    This program is distributed in the hope that it will be useful,
%%    but WITHOUT ANY WARRANTY; without even the implied warranty of
%%    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%%    GNU Affero General Public License for more details.
%%
%%    You should have received a copy of the GNU Affero General Public License
%%    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[
  {'erlymon', [
      {'em_storage', [
	  {pools, [
		  {mongo,
		    [
		      {size, 10},
		      {max_overflow, 20}
		    ],
		    [
		      {host, "127.0.0.1"},
		      {port, 27017},
		      {database, "data-base-name"},
		      {login, "data-base-user-name"},
		      {password, "data-base-user-password"}
		    ]
		  }		
	  ]}
    ]},
    {'em_geocoder', [
	  {pools, [
		  {google,
		    [
		      {size, 10},
		      {max_overflow, 20}
		    ],
		    [
		      {key, "you-google-key"}
		    ]
		  }
	  ]}
    ]},
    {'em_hardware',[
	{tcp_servers, [
	  {t55, [{port, 5005}], []},
	  {meitrack, [{port, 5020}], []}
	]},
	{http_servers, [
	  {osmand, [{port, 5055}], [{'_', [{"/", em_osmand_protocol, []}]}]}
	]}
    ]},
    {'em_http', [
      {servers, [
	  {web_old,
	    [
	      {port, 8080}
	    ],
	    [{'_', [
	      {"/api/server/get", em_http_api_server_get_v0_handler, []},
	      {"/api/server/update", em_http_api_server_update_v0_handler, []},
	      {"/api/session", em_http_api_session_v0_handler, []},
	      {"/api/login", em_http_api_login_v0_handler, []},
	      {"/api/logout", em_http_api_logout_v0_handler, []},
	      {"/api/register", em_http_api_register_v0_handler, []},
	      {"/api/async", em_http_api_async_v0_handler, []},
	      {"/api/device/get", em_http_api_device_get_v0_handler, []},
	      {"/api/device/add", em_http_api_device_add_v0_handler, []},
	      {"/api/device/update", em_http_api_device_update_v0_handler, []},
	      {"/api/device/remove", em_http_api_device_remove_v0_handler, []},
	      {"/api/user/get", em_http_api_user_get_v0_handler, []},
	      {"/api/user/add", em_http_api_user_add_v0_handler, []},
	      {"/api/user/update", em_http_api_user_update_v0_handler, []},
	      {"/api/user/remove", em_http_api_user_remove_v0_handler, []},
	      {"/api/position/get", em_http_api_position_get_v0_handler, []},
	      {"/", cowboy_static, {priv_file, erlymon, "web_old/debug.html"}},
	      {"/[...]", cowboy_static, {priv_dir, erlymon, "web_old/", [{mimetypes, cow_mimetypes, all}]}}
	    ]}]
	  },
	  {web_new,
	    [
	      {port, 8081}
	    ],
	    [{'_', [
	      {"/api/server", em_http_api_server_v1_handler, []},
	      {"/api/session", em_http_api_session_v1_handler, []},
	      {"/api/devices[/:id]", em_http_api_devices_v1_handler, []},
	      {"/api/users[/:id]", em_http_api_users_v1_handler, []},
	      {"/api/positions", em_http_api_positions_v1_handler, []},
	      {"/api/socket", em_http_api_socket_v1_handler, []},
	      {"/", cowboy_static, {priv_file, erlymon, "web_new/debug.html"}},
	      {"/[...]", cowboy_static, {priv_dir, erlymon, "web_new/", [{mimetypes, cow_mimetypes, all}]}}
	    ]}]
	  }
	]}
    ]}
  ]},
  {'lager', [
	{log_root, "/var/log/erlymon"},
	{colored, true},
        {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "info.log"}, {level, info}]}
        ]}
  ]}
].

