{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
%%	{cowboy, "2.0.0-pre.1"},
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}},
	{cowboy_session, {git, "https://github.com/Dasudian/cowboy_session.git", {branch, "master"}}}
%%        {tempo, {git, "https://github.com/selectel/tempo.git", {tag, "0.4.1"}}}
%%	{'iso8601', {git, "https://github.com/knutin/erlang_iso8601.git", {branch, "master"}}}
]}.

